body {
    background-color: #ffffff;
    background-image: url('coffee.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% auto;
    -o-background-size: 50% auto;
    -moz-background-size: 50% auto;
    -webkit-background-size: 50% auto;
    max-width: 700px;
    padding: 3em;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

h1 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Droid Serif', serif;
    line-height: 1.35;
    text-align: justify;
    hyphens: auto;
}

#footer {
    font-size: 10px;
}
