<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf8'>
        <link href='./static/style.css' rel='stylesheet' type='text/css'>
        <link href='./static/favicon.ico' rel='shortcut icon'>
        <title>Coffee and the Word :: Come back daily for a drink of Scripture</title>
    </head>
    <body>
        {% for p in passages %}
        <h1>{{ p.reference }}</h1>
        {% for t in p.text %}
        <p>{{ t }}</p>
        {% endfor %}
        {% endfor %}
        <span id='footer'>Created by <a href='http://samueltaylor.org'>Sam</a><br>Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by <a href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. Text provided by the <a href="http://www.gnpcb.org/esv/share/services/">Crossway Bibles Web Service</a>.</span>
    </body>
</html>
