<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf8'>
        <link href='./static/style.css' rel='stylesheet' type='text/css'>
        <link href='./static/favicon.ico' rel='shortcut icon'>
        <title>Just the Word :: Come back daily for a bit of the word</title>
    </head>
    <body>
        {% for p in passages %}
        <h1>{{ p.reference }}</h1>
        {% for t in p.text %}
        <p>{{ t }}</p>
        {% endfor %}
        {% endfor %}
        <span id='footer'>Just the Word created by <a href='http://samueltaylor.org'>Sam</a></span>
    </body>
</html>
